body { min-width: 320px; font-size: 17px; margin: 0; padding: 0; background-color: #fff; font-weight: 400; font-style: normal; font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h2, h3, p { margin: 0; }

.wrap { position: relative; width: 100%; margin: 0 auto; }

.wrap.ie .container .heros_cont .content { margin-left: -10%; margin-top: -10%; }

.wrap.ie .container .heros_cont .content_1 { margin-left: -15%; margin-top: -7%; }

.wrap.on .container .content_1 .cont_inner { -webkit-transition: 2.5s; transition: 2.5s; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; opacity: 1; }

.wrap.on .container .content_2 .cont_inner { -webkit-transition: 2.5s; transition: 2.5s; -webkit-transition-delay: 0.6s; transition-delay: 0.6s; opacity: 1; }

.wrap.on .container .content_3 .cont_inner { -webkit-transition: 2.5s; transition: 2.5s; -webkit-transition-delay: 0.9s; transition-delay: 0.9s; opacity: 1; }

.wrap.on .container .content_4 .cont_inner { -webkit-transition: 2.5s; transition: 2.5s; -webkit-transition-delay: 1.2s; transition-delay: 1.2s; opacity: 1; }

.wrap.on .container .headline .txt_sm { opacity: 1; }

.wrap.on .container .headline_mask:nth-child(1) .headline_txt { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); -webkit-transition: 1s; transition: 1s; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }

.wrap.on .container .headline_mask:nth-child(2) .headline_txt { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); -webkit-transition: 1s; transition: 1s; -webkit-transition-delay: 0.4s; transition-delay: 0.4s; }

.wrap.on .container .headline_mask:nth-child(3) .headline_txt { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); -webkit-transition: 1s; transition: 1s; -webkit-transition-delay: 0.6s; transition-delay: 0.6s; }

.wrap.on .container .headline_mask:nth-child(4) .headline_txt { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); -webkit-transition: 1s; transition: 1s; -webkit-transition-delay: 0.8s; transition-delay: 0.8s; }

.container { position: relative; background-color: #000; height: 100%; margin: 0 auto; }

.container > * { color: #fff; }

.container .heros_wrap { overflow: hidden; position: relative; }

.container .heros_wrap::before { position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 80px; background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(60%, #000)); background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), #000 60%); background: linear-gradient(0deg, rgba(0, 0, 0, 0), #000 60%); content: ""; }

.container .heros_wrap::after { position: absolute; bottom: 0; left: 0; width: 100%; height: 80px; background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(75%, #000)); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000 75%); background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000 75%); content: ""; }

.container .heros_wrap .scroll_icon { position: absolute; bottom: 40px; left: 50%; z-index: 2; width: 12px; height: 12px; margin-left: -12px; border-left: 1px solid #fff; border-bottom: 1px solid #fff; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-animation: scrollIcon 2s infinite; animation: scrollIcon 2s infinite; }

@-webkit-keyframes scrollIcon { 0% { -webkit-transform: rotate(-45deg) translate(0, 0); transform: rotate(-45deg) translate(0, 0); }
  50% { -webkit-transform: rotate(-45deg) translate(-10px, 10px); transform: rotate(-45deg) translate(-10px, 10px); }
  100% { -webkit-transform: rotate(-45deg) translate(0, 0); transform: rotate(-45deg) translate(0, 0); } }

@keyframes scrollIcon { 0% { -webkit-transform: rotate(-45deg) translate(0, 0); transform: rotate(-45deg) translate(0, 0); }
  50% { -webkit-transform: rotate(-45deg) translate(-10px, 10px); transform: rotate(-45deg) translate(-10px, 10px); }
  100% { -webkit-transform: rotate(-45deg) translate(0, 0); transform: rotate(-45deg) translate(0, 0); } }

.container .heros_wrap .headline { display: block; width: 550px; margin-bottom: 100px; font-size: 64px; text-align: center; }

.container .heros_wrap .headline .txt_sm { opacity: 0; font-size: 20px; color: #666666; -webkit-transition: 1s; transition: 1s; -webkit-transition-delay: 1.2s; transition-delay: 1.2s; }

.container .heros_wrap .headline .txt_sm:first-child { margin-bottom: 20px; }

.container .heros_wrap .headline .txt_sm:last-child { margin-top: 40px; }

.container .heros_wrap .headline .headline_mask { display: block; overflow-y: hidden; }

.container .heros_wrap .headline .headline_txt { display: block; -webkit-transform: translateY(150px); -ms-transform: translateY(150px); transform: translateY(150px); }

.container .heros_box { position: relative; width: 100vw; height: 100vh; max-width: 2820px; max-height: 2350px; margin: 0 auto; }

.container .heros_cont { position: relative; width: 100%; height: 100%; }

.container .heros_cont .content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; width: 100%; height: 100%; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center; }

.container .heros_cont .content:first-child .unit_tile::after { display: none; }

.container .heros_cont .content:hover { z-index: 5; }

.container .heros_cont .content .cont_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; opacity: 0; }

.container .heros_cont .content .unit_tile { position: absolute; pointer-events: all; }

.container .heros_cont .content .unit_tile::after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); opacity: 0; -webkit-transition: 0.5s; transition: 0.5s; content: ""; }

.container .heros_cont .content .unit_tile:hover { z-index: 2; }

.container .heros_cont .content .unit_tile:hover::after { opacity: 1; }

.container .heros_cont .content .unit_tile:hover .txt_box { opacity: 1; }

.container .heros_cont .content .unit_tile_0 { -webkit-transform: translate(-331px, 328px); -ms-transform: translate(-331px, 328px); transform: translate(-331px, 328px); }

.container .heros_cont .content .unit_tile_1 { -webkit-transform: translate(250px, 356px); -ms-transform: translate(250px, 356px); transform: translate(250px, 356px); }

.container .heros_cont .content .unit_tile_2 { -webkit-transform: translate(400px, -460px); -ms-transform: translate(400px, -460px); transform: translate(400px, -460px); }

.container .heros_cont .content .unit_tile_3 { -webkit-transform: translate(-627px, -313px); -ms-transform: translate(-627px, -313px); transform: translate(-627px, -313px); }

.container .heros_cont .content .unit_tile_4 { -webkit-transform: translate(87px, -870px); -ms-transform: translate(87px, -870px); transform: translate(87px, -870px); }

.container .heros_cont .content .unit_tile_5 { -webkit-transform: translate(-795px, 778px); -ms-transform: translate(-795px, 778px); transform: translate(-795px, 778px); }

.container .heros_cont .content .unit_tile_6 { -webkit-transform: translate(-675px, -639px); -ms-transform: translate(-675px, -639px); transform: translate(-675px, -639px); }

.container .heros_cont .content .unit_tile_7 { -webkit-transform: translate(-230px, 702px); -ms-transform: translate(-230px, 702px); transform: translate(-230px, 702px); }

.container .heros_cont .content .unit_tile_8 { -webkit-transform: translate(509px, 36px); -ms-transform: translate(509px, 36px); transform: translate(509px, 36px); }

.container .heros_cont .content .unit_tile_9 { -webkit-transform: translate(-150px, -483px); -ms-transform: translate(-150px, -483px); transform: translate(-150px, -483px); }

.container .heros_cont .content .unit_tile_10 { -webkit-transform: translate(689px, -711px); -ms-transform: translate(689px, -711px); transform: translate(689px, -711px); }

.container .heros_cont .content .unit_tile_11 { -webkit-transform: translate(-531px, 11px); -ms-transform: translate(-531px, 11px); transform: translate(-531px, 11px); }

.container .heros_cont .content .unit_tile_12 { -webkit-transform: translate(-1000px, 86px); -ms-transform: translate(-1000px, 86px); transform: translate(-1000px, 86px); }

.container .heros_cont .content .unit_tile_13 { -webkit-transform: translate(-1127px, -324px); -ms-transform: translate(-1127px, -324px); transform: translate(-1127px, -324px); }

.container .heros_cont .content .unit_tile_14 { -webkit-transform: translate(-777px, 422px); -ms-transform: translate(-777px, 422px); transform: translate(-777px, 422px); }

.container .heros_cont .content .unit_tile_15 { -webkit-transform: translate(1109px, -448px); -ms-transform: translate(1109px, -448px); transform: translate(1109px, -448px); }

.container .heros_cont .content .unit_tile_16 { -webkit-transform: translate(744px, -336px); -ms-transform: translate(744px, -336px); transform: translate(744px, -336px); }

.container .heros_cont .content .unit_tile_17 { -webkit-transform: translate(299px, 694px); -ms-transform: translate(299px, 694px); transform: translate(299px, 694px); }

.container .heros_cont .content .unit_tile_18 { -webkit-transform: translate(840px, 446px); -ms-transform: translate(840px, 446px); transform: translate(840px, 446px); }

.container .heros_cont .content .unit_tile_19 { -webkit-transform: translate(744px, 761px); -ms-transform: translate(744px, 761px); transform: translate(744px, 761px); }

.container .heros_cont .content .unit_tile_20 { -webkit-transform: translate(1000px, 150px); -ms-transform: translate(1000px, 150px); transform: translate(1000px, 150px); }

.container .heros_cont .content .unit_tile .img_wrap { position: relative; }

.container .heros_cont .content .unit_tile .tile_img { position: relative; }

.container .heros_cont .content .txt_box { font-size: 19px; line-height: 1.21053; font-weight: 400; opacity: 0; position: absolute; bottom: -25%; text-align: left; z-index: 3; width: 300px; -webkit-transition: 0.3s; transition: 0.3s; }

.container .heros_cont .content .txt_box.top { top: 0; }

.container .heros_cont .content .txt_box .her_name { font-weight: 700; }

.container .heros_cont .content .txt_box .txt_right { -webkit-transform: translate(50%, 0); -ms-transform: translate(50%, 0); transform: translate(50%, 0); }

.container .heros_cont .content .txt_box .txt_left { -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }

.container .desc_wrap { padding: 120px 0 80px; background: #141414; }

.container .desc_wrap .tit { margin-bottom: 50px; }

.container .desc_wrap .tit h2 { font-size: 64px; text-align: center; }

.container .desc_wrap .content .svg_box { position: relative; width: 100%; max-width: 820px; height: 460px; margin: 0 auto; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

.container .desc_wrap .content .svg_box .img { position: absolute; left: 0; top: 0; width: 100%; }

.container .desc_wrap .content .svg_box .img_clip { -webkit-clip-path: url(#clip-path); clip-path: url(#clip-path); pointer-events: none; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; opacity: 0; }

.container .desc_wrap .content .txt_wrap { margin-top: 50px; text-align: center; }

.container .desc_wrap .content .txt_wrap h3 { font-size: 40px; margin-bottom: 30px; }

.container .desc_wrap .content .txt_wrap p { font-size: 20px; color: #86868b; }

.container .desc_wrap .content .txt_wrap .btn { width: 100px; margin: 50px auto 0; border: 1px solid #fff; border-radius: 15px 15px; }

.container .desc_wrap .content .txt_wrap .btn a { display: block; width: 100%; padding: 5px 0; color: #fff; text-decoration: none; }
